<div id="main">
    <div>
      <div class="title"> 
        <h1>Angular Assessement</h1>
      </div>
      </div>
      <div>
      <div>
          <div class="instructions"><h2>Instructions</h2>
            <p>you have 10 questions to answer</p>
            <p>you have 4 options for each question</p>
            <p>Please try to answer all questions</p>
            <p>There is no negative marking</p>
    

          </div>
          <div class="start-btn">
            <button type="button"  class="btn btn-warning">
              <a routerLink="/questions" >Start</a>
            </button>
          </div>
        </div>>
        </div>
      
  </div>
